* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}


.displayNone {
  display: none;
}